@let inv = invoiceGet();
@let active = isSelected();

<div
  class="group relative rounded-2xl p-4 transition-all duration-300 overflow-hidden"
  [class]="
    active
      ? 'bg-indigo-900/40 border-2 border-indigo-400/80 shadow-lg shadow-indigo-500/10'
      : 'bg-slate-800/40 border border-white/5 shadow-sm hover:shadow-md hover:bg-slate-700/50 hover:border-white/10'
  "
>
  <!-- Cabecera -->
  <div class="flex flex-col items-start gap-1">
    <div class="w-full flex flex-row justify-between items-start">
      <div class="flex items-center gap-2">
        <span
          class="bg-indigo-500/20 border border-indigo-500/30 text-indigo-300 text-[10px] font-black px-2 py-0.5 rounded-md font-mono shadow-inner"
        >
          {{ inv.id }}
        </span>
        <div class="flex flex-col">
          <h3 class="text-sm font-bold text-slate-100 truncate uppercase">
            {{ inv.createdAt | date: 'dd/MM/yyyy' }}
          </h3>
        </div>
      </div>
      <div class="flex items-center gap-2">
        <div class="shrink-0" (click)="$event.stopPropagation()">
          <app-button-toggle
            textActive="ocultar"
            textInactive="ver"
            [isActive]="active"
            (isActiveChange)="checkInvoiceActive(inv.id)"
          />
        </div>
        <div class="shrink-0" (click)="$event.stopPropagation()">
          <app-button (click)="deleteInvoice(inv.id)" />
        </div>
      </div>
    </div>
  </div>

  <div class="border-t border-white/5 border-dashed my-1"></div>

  <!-- Subtotal y Total -->
  <div class="flex justify-between items-end">
    <div>
      <p class="text-[9px] font-bold text-slate-400 uppercase tracking-widest mb-0.5">Subtotal</p>
      <p class="text-xs font-semibold text-slate-300">
        {{ inv.subtotal | currency: 'COP' : 'symbol' : '1.0-2' }}
      </p>
    </div>
    <div class="text-right">
      <p class="text-[9px] font-bold text-indigo-400 uppercase tracking-widest mb-0.5">
        Total Neto
      </p>
      <p class="text-base font-black text-white drop-shadow-md">
        {{ inv.totalAmount | currency: 'COP' : 'symbol' : '1.0-2' }}
      </p>
    </div>
  </div>
</div>
