@let state = isActive();

<button
  (click)="toggle()"
  class="relative flex items-center justify-center min-w-17.5 px-3 py-1.5 rounded-full text-[10px] font-bold uppercase tracking-widest transition-all duration-300 border backdrop-blur-md overflow-hidden group shadow-sm hover:shadow cursor-pointer"
  [class]="
    state
      ? 'bg-indigo-500/15 border-indigo-500/30 text-indigo-700 hover:bg-indigo-500/25'
      : 'bg-slate-100/60 border-slate-200/80 text-slate-500 hover:bg-slate-200/80 hover:text-slate-700'
  "
>
  <!-- Brillo de hover (Efecto Glass) -->
  <div
    class="absolute inset-0 bg-linear-to-r from-transparent via-white/40 to-transparent -translate-x-full group-hover:translate-x-full transition-transform duration-700 ease-in-out"
  ></div>

  <!-- Contenido (Icono + Texto) -->
  <div class="relative z-10 flex items-center gap-1.5">
    <span>{{ state ? textActive() : textInactive() }}</span>
  </div>
</button>
